.navimg img{
    width: 30%;
}
.panda{
    color: rgb(42, 42, 68);
}
.panda2{
   color: rgb(230, 140, 124);
}

.image img{
    width: 20%;
}
.click{
   color: rgba(152, 209, 20, 0.705);
}
    

.Text{
    color: white;
}

.hard img{
    width: 100%;
}